<div class="col-md-7">

    <form name="formulario" ng-submit="guardar_datos('7')" novalidate="novalidate">

        <div class="form-group">
            <label for="nombre" class="control-label">¿Te sientes culpable o sin valor la mayor parte del tiempo? </label>
            <select class="form-control" id="Pr1" ng-model="formData.D7" required="required">
                <option value="0.25">Casi nunca me siento culpable o sin valor  </option>
                <option value="0.5">Ocasionalmente me siento culpable o sin valor  </option>
                <option value="0.75">Con frecuencia me siento culpable o sin valor </option>
                <option value="1.0">Siempre me siento culpable o sin valor</option>
            </select>
        </div>

        <div class="form-group">
            <label for="edad" class="control-label">¿Experimentas dificultades para conciliar el sueño o mantenerlo debido a la ansiedad? </label>
            <select class="form-control" id="Pr2" ng-model="formData.A7" required="required">
                <option value="0.25">No tengo dificultades para dormir debido a la ansiedad </option>
                <option value="0.5"> A veces tengo dificultades para dormir  </option>
                <option value="0.75">Con frecuencia tengo dificultades para dormir   </option>
                <option value="1.0">Siempre tengo dificultades para dormir</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary"> Guardar</button>
    </form>

</div>